body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fde0eb; /* Pink background color */
    overflow: hidden; /* Hide overflow to prevent scrollbars */
}

.container {
    position: relative;
    height: 100vh;
}

.animated-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('images\potato.jpg'); /* Image of potato */
    background-repeat: no-repeat;
    background-size: contain;
    animation: float 10s infinite linear; /* Potato floating animation */
}


.potato {
    width: 100px; /* Adjust size of potato */
    height: 100px; /* Adjust size of potato */
}

.content {
    position: relative;
    z-index: 1; /* Ensure content appears above potato */
    padding: 20px;
}

.image-container {
    display: flex;
    justify-content: flex-end; /* Hiển thị hình ảnh ở phía bên phải */
    align-items: center;
    margin-top: 20px;
}

.image-wrapper {
    position: relative;
    text-align: right; /* Căn chỉnh hình ảnh về phía bên phải */
}


#image {
    max-width: 800px; /* Adjust size of image */
    max-height: 800px; /* Adjust size of image */
    display: none;
}

button {
    margin: 10px;
    padding: 16px 28px;
    font-size: 28px;
    background-color: #ff4081; /* Pink button color */
    color: #ffffff; /* White text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

button::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background-color: rgba(255, 255, 255, 0.5);
    transition: width 0.5s, height 0.5s, top 0.5s, left 0.5s;
    border-radius: 50%;
    z-index: 0;
    transform: translate(-50%, -50%);
}

button:hover::before {
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
}

button span {
    position: relative;
    z-index: 1;
}

button:hover {
    color: #ff4081; /* Pink text color */
    background-color: #ffffff; /* White button color */
    transition: color 0.4s, background-color 0.4s;
}

.animated-text {
    font-size: 24px;
    text-align: center;
}

.cool-animation {
    display: inline-block;
    animation: cool 2s infinite alternate; /* Apply cool animation */
}

@keyframes cool {
    from {
        transform: scale(1);
        color: red;
    }
    to {
        transform: scale(1.2);
        color: blue;
    }
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px); /* Adjust height of potato floating */
    }
    100% {
        transform: translateY(0);
    }
}
